

body{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height:1.5;
  padding:0;
  margin:0;
  background-color: #f4f4f4;
  list-style:none;
}

/*Navbar*/


.navbar{
  justify-content: center;
  background-color: #252525;
  border-bottom:#ffff4d 5px solid;
 
  
}
/*Content in Navbar*/
.nav-link{
  color: #6666ff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 4vw;
  
}

.nav-link:hover{
  color: #ffff4d;
}   

.bg{
  background-image: url("../img/background.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/*This is the "Hello my name is*/
.name1{
  padding-top:30vh;
  font-size:5vw;
  margin-bottom:10px;
  text-align: center;
  color:#FFFFFF;
}
/*This is the "Wilson Ng"*/
.name2{
  margin-top: 10px;
  font-size: 8vw;
  color:#ffff4d; 
  margin-bottom: 7px;
  text-shadow: 0 0 5px #ffffff, 0 0 25px #ffff4d;
  text-align: center;
}

#titlepage img{
  width: 3vw;
  height: 3vw;
  float:middle;
  margin-left: 3vw;
  margin-right: 3vw;
  }


#aboutmepage{
  background: #202020;
  height: 115vh;
  width:100%;
  border-bottom: 3px solid #ffff4d;
}

#aboutmepage .row{
  width:100%;
}
#aboutmepage img{
  padding-top: 5vh;
  padding-left: 2vw;
  width:25%;
  height:25%;
  border-radius: 50%;
}

#aboutmepage h1{
  color: #6666ff;
  font-size: 3.5vw;
  padding-top:5vh;
  padding-left: 2vw;
  padding-bottom: 25px;
  text-shadow: 0 0 10px #6666ff;
}

#aboutmepage p{
  font-size:1.25vw;
  color:#FFFFFF;
  padding-left: 2vw;
}

.progress{
  margin-left: 10%;
  margin-right:20%;
}

.pb p{
  margin-left: 8.5%;
  padding-top: 1vh;
}
.progress {
  box-shadow: 0 0 30px #ffff4d;
}

#html-scroll[data-scroll]{
  transition: all 2s;
}
#html-scroll[data-scroll="in"]{
  width:55%; 
}
#html-scroll[data-scroll="out"]{
  width:1%;
}

#ass-scroll[data-scroll]{
  transition: all 2s;
}
#ass-scroll[data-scroll="in"]{
  width:50%; 
}
#ass-scroll[data-scroll="out"]{
  width:1%;
}

#c-scroll[data-scroll]{
  transition: all 2s;
}
#c-scroll[data-scroll="in"]{
  width:70%; 
}
#c-scroll[data-scroll="out"]{
  width:1%;
}

#java-scroll[data-scroll]{
  transition: all 2s;
}
#java-scroll[data-scroll="in"]{
  width:70%; 
}
#java-scroll[data-scroll="out"]{
  width:1%;
}

#python-scroll[data-scroll]{
  transition: all 2s;
}
#python-scroll[data-scroll="in"]{
  width:80%; 
}
#python-scroll[data-scroll="out"]{
  width:1%;
}

#cnet-scroll[data-scroll]{
  transition: all 2s;
}
#cnet-scroll[data-scroll="in"]{
  width:90%; 
}
#cnet-scroll[data-scroll="out"]{
  width:1%;
}

