body{
  font-family: 'Inconsolata', monospace !important;
  padding:0;
  margin:0;
  background-color: #f4f4f4;
}


/*Navbar*/
.navbar{
  justify-content: center;
  background-color: #252525;
  border-bottom:#948AE3 5px solid;
}
/*Content in Navbar*/
.nav-link{
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0 0 0;
}
.nav-link:hover{
  text-decoration: underline !important;
}
.bg{
  background-image: url("../img/background.jpg");
  background-size: cover;
  height: 1000px;
  width: 100%;
}

/*This is the "Hello my name is*/
.name1, .name2, .name3 {
  padding-top:40vh;
  font-size:5vw;
}
/*This is the "Wilson Ng"*/
.name1{
  color: #FC618D;
}
.name2{
  color: #FFFFFF;
}
.name3{
  color: #7BD890;
}
#titlepage img{
  width: 4.5vw;
  height: 5vw;
  float:middle;
  margin-left: 3vw;
  margin-right: 3vw;
  }


#aboutmepage{
  background: #222222;
  width:100%;
  border-bottom: 5px solid #7BD890;
}
#aboutmepage .row{
  width:100%;

}
#aboutmepage img{
  padding-top: 5vh;
  padding-left: 2vw;
  width:25%;
  height:25%;
  border-radius: 50%;
}
#aboutmepage h1{
  color: #7BD890;
  font-size: 3.5vw;
  padding-top:5vh;
  padding-left: 2vw;
  padding-bottom: 25px;
  text-shadow: 0 0 10px #7BD890;
}
.aboutmeparagraph p{
  margin-left: 2.5%;
  color:#FFFFFF;
}


#mycontributions {
  background: #222222;
  height:100%;
  color: #FFFFFF;
  border-bottom: 5px solid #FD9363;
}
#mycontributions h1{
  color: #FD9363;
  font-size: 3.5vw;
  padding-top:5vh;
  padding-left: 2vw;
  padding-bottom: 25px;
  text-shadow: 0 0 10px #FD9363;
}
#mycontributions .card{
  background-color: #222222;
  padding: 20px 20px 20px 20px;
  width:28rem;
  height:28rem;
  margin: 2rem 2rem 2rem 2rem;
}
#mycontributions .card span{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: inline-block;
  box-sizing: border-box;
}
#mycontributions .card-body {
  border: 1px solid #FD9363;
}
#mycontributions .card-body h3{
  color: #FD9363;
}
#mycontributions .card span:nth-child(1){
  transform:rotate(0deg);
}
#mycontributions .card span:nth-child(2){
  transform:rotate(90deg);
}
#mycontributions .card span:nth-child(3){
  transform:rotate(180deg);
}
#mycontributions .card span:nth-child(4){
  transform:rotate(270deg);
}
#mycontributions .card span:nth-child(2):before{
  animation-delay: -2s;
}
#mycontributions .card span:nth-child(4):before{
  animation-delay: -2s;
}
#mycontributions .card span:before{
  content:'';
  position: absolute;
  width:100%;
  height:3px;
  background: #FD9363;
  animation: animate0 4s linear infinite;
}
@keyframes animate0{
  0%{
    transform: scaleX(0);
    transform-origin:left;
  }
  50%{
    transform: scaleX(1);
    transform-origin:left;
  }
  50.1%{
    transform: scaleX(1);
    transform-origin:right;
  }
  100%{
    transform: scaleX(0);
    transform-origin:right;
  }
}



#projects{
  background: #222222;
  width: 100%;
}

#projects h1{
  color:#DC143C;
  font-size: 8vw;
  padding-top:5vh;
  padding-left: 2vw;
  padding-bottom: 25px;
  text-shadow: 0 0 10px #DC143C;
  text-align: left;
}

#projects .card{
  background-color: #222222;
  padding: 20px 20px 20px 20px;
  width:40rem;
  height:40rem;
  margin: 5rem 5rem 5rem 5rem;
}

#projects .card span{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: inline-block;
  box-sizing: border-box;
}
#projects .card span:nth-child(1){
  transform:rotate(0deg);
}
#projects .card span:nth-child(2){
  transform:rotate(90deg);
}
#projects .card span:nth-child(3){
  transform:rotate(180deg);
}
#projects .card span:nth-child(4){
  transform:rotate(270deg);
}
#projects .card span:nth-child(2):before{
  animation-delay: -2s;
}
#projects .card span:nth-child(4):before{
  animation-delay: -2s;
}
#projects .card span:before{
  content:'';
  position: absolute;
  width:100%;
  height:3px;
  background: #DC143C;
  animation: animate 4s linear infinite;
}
@keyframes animate{
  0%{
    transform: scaleX(0);
    transform-origin:left;
  }
  50%{
    transform: scaleX(1);
    transform-origin:left;
  }
  50.1%{
    transform: scaleX(1);
    transform-origin:right;
  }
  100%{
    transform: scaleX(0);
    transform-origin:right;
  }
}
#projects .card-title{
  color: #DC143C;
}
#projects .card-body {
  border: 1px solid #DC143C;
}
#projects {
  border-bottom: 5px solid #DC143C;
}
#projects .card-body img{
  width: 20rem;
  height: auto;
}
#projects .card-body h4{
  font-size: 30px;
}
#projects .card-body p{
  font-size: 20px;
}
#encryptionimage {
  width:25rem;
}
#csitlogo{
  width:7.5rem;
}



#achievements{
  background: #222222;
  width: 100%;
  
}
#achievements h1{
  color: #FCE565;
  font-size: 5vw;
  padding-top: 5vh;
  padding-left: 2vw;
  padding-bottom: 5vh;
  text-shadow: 0 0 10px #FCE565;
  text-align: left;
}

#achievements .card{
  box-shadow: 0 0 30px #FCE565;
}
#achievements .card-title{
  text-shadow: 0 0 10px #FFFFFF;
  
}



footer{
  background-color: #222222;
  border-top: 5px solid #FCE565;
}


@media (min-width: 1920px){
  .nav-link{
      font-size: 1.5vw;
  }
  .name1, .name2, .name3 {
      font-size: 7vw;
  }


  #aboutmepage img{
      margin-top:50px;
  }

  #aboutmepage h1{
      font-size: 5vw;
      text-align: left;
  }
  .aboutmeparagraph p{
      font-size: 1.75vw;
      margin-left: 5%;
      text-align: left;
  }

  #mycontributions h1{
    font-size: 5vw;
    padding: 0 0 0 0;
    margin-left: 2.5%;
    justify-content: left;
  }

  #mycontributions .card{
    width:35rem;
    height:35rem;
  }

  #mycontributions .card-body h3{
    font-size:35px;
  }

  #mycontributions .card-body p{
    font-size: 21px;
  }

  #projects h1{
      font-size: 5vw;
  }
  
  

  #achievements h1{
      font-size: 5vw;
      text-align: left;
  }

  #achievements div{
      margin-left:0;
  }

}
@media (max-width: 1536px){

  .nav-link{
      font-size:1.5vw;
  }

  .name1, .name2, .name3 {
    font-size: 7vw;
}

  
  #aboutmepage h1{
      font-size: 5vw;
  }

  #mycontributions h1{
    font-size: 5vw;
    padding: 0 0 0 0;
    margin-left: 2.5%;
    justify-content: left;
  }

  #mycontributions .card{
    width:28rem;
    height:28rem;
  }

  #mycontributions .card-body h3{
    font-size:28px;
  }

  #mycontributions .card-body p{
    font-size: 15px;
  }
  #projects h1{
      text-align: left;
      font-size: 5vw;
  }

  #aboutmepage .aboutmeparagraph p{
      margin-left: 2.5%;
      font-size: 1.5vw;
      text-align: left;
  }

  #achievements h1{
      font-size: 5vw;
      padding-right:5%;
  }

  #achievements div{
      margin-left:0;
  }

}
@media (max-width: 950px){

  .nav-link{
      font-size:2vw;
  }
  .name1, .name2, .name3 {
    font-size: 7vw;
}

  #aboutmepage h1{
      font-size: 8vw;
      text-align: left;
  }

  #aboutmepage img{
      margin-top: 100px;
  }

  #aboutmepage p{
    font-size: 15px;
  }

  #mycontributions h1{
    font-size: 8vw;
    padding: 0 0 0 0;
    text-align: center;
    justify-content: center;
  }

  #mycontributions .card{
    width:30rem;
    height:30rem;
    justify-content: center;
  }
  
  #mycontributions .card-body h3{
    font-size: 25px;
  }

  #mycontributions .card-body p{
    font-size: 17px;
  }

  #projects .card {
    margin: 10px 10px 10px 10px;
  }
  #projects h1{
      text-align: center;
      font-size: 8vw;
  }
  
  #projects .card-body img{
    width:24rem;
  }

  #csitlogo {
    width:10rem !important;
  }
  .aboutmeparagraph p{
      margin-left: 2.5%;
      text-align: left;
  }

  #achievements h1{
      font-size: 8vw;
      text-align: center;
      padding-right:5%;
  }

  #achievements div{
      margin-left:0;
  }
}
@media (max-width: 768px){

  .nav-link{
      font-size:2vw;
  }
  .name1, .name2, .name3 {
    font-size: 7vw;
}

  #aboutmepage h1{
      font-size: 8vw;
      text-align: left;
  }
  #aboutmepage img{
      margin-top: 50px;
      margin-left: 2.5%;
  }

  .aboutmeparagraph{
      text-align: center;
  }

  .aboutmeparagraph p{
      font-size: 1.8vw;
  }

  #mycontributions h1{
    font-size: 8vw;
    padding: 0 0 0 0;
    text-align: center;
    justify-content: center;
  }

  #mycontributions .card {
    width:30rem;
    height:30rem;
  }

  #mycontributions .card-body h3{
    font-size: 25px;
  }
  
  #mycontributions .card-body p{
    font-size: 17px;
  }

  #projects h1{
      text-align: center;
      font-size: 8vw;
  }

  #projects .card-body img{
    width:22rem;
  }

  #csitlogo{
    width:10rem !important;
  }

  #projects .card-body p{
    font-size: 18px;
  }
  #achievements h1{
      font-size: 8vw;
      text-align: center;
      padding-right:5%;
  }

  #achievements div{
      margin-left:0;
  }
}
@media (max-width: 650px){
  .name1, .name2, .name3 {
    font-size: 7vw;
}

  #aboutmepage img{
      width:10%;
  }
  #aboutmepage h1{
      text-align: center;
      font-size: 8vw;
  }

  .aboutmeparagraph{
      text-align: center;
  }

  .aboutmeparagraph p{
      text-align: center;
      font-size:3vw;
      colour: #FFFFFF;
      margin-left: 5%;;
  }


  #mycontributions h1{
    font-size: 8vw;
    padding: 0 0 0 0;
    text-align: center;
    justify-content: center;
  }

  #mycontributions .card {
    width: 30rem;
    height: 30rem;
    justify-content: center;
  }

  #mycontributions .card-body h3{
    font-size: 24px;
  }

  #mycontributions .card-body p{
    font-size: 16px;
  }


  #projects h1{
      text-align: center;
  }

  #projects .card{
    width:30rem;
    height:30rem;
    justify-content: center;
   
  }
  #projects .card-body img{
    width: 15rem;
  }
  #csitlogo {
    width:9rem !important;
  }
  #projects .card-body p{
    font-size: 14px;
  }
  #achievements h1{
      font-size: 8vw;
      text-align: center;
      padding-right:5%;
      padding-left:5%;
  }

  #achievements div{
      margin-left:0;
  }
}
@media (max-width: 500px){
  .name1, .name2, .name3 {
    font-size: 7vw;
}

  #aboutmepage img{
      width:10%;
  }
  #aboutmepage h1{
      text-align: center;
      font-size: 8vw;
  }

  .aboutmeparagraph{
      text-align: center;
  }

  .aboutmeparagraph p{
      text-align: center;
      font-size:3vw;
      colour: #FFFFFF;
      margin-left: 5%;;
  }


  #mycontributions h1{
    font-size: 8vw;
    padding: 0 0 0 0;
    text-align: center;
    justify-content: center;
  }

  #mycontributions .card{
    width:20rem;
    height:20rem;
    justify-content: center;
  }

  #mycontributions .card-body h3{
    font-size: 16px;
  }

  #mycontributions .card-body p{
    font-size: 8.5px;
  }


  #projects h1{
      text-align: center;
  }

  #projects .card{
    width:24rem;
    height:24rem;
    justify-content: center;
   
  }
  #projects .card-body img{
    width: 12rem;
  }
  #csitlogo {
    width:6rem !important;
  }
  #projects .card-body h4{
    font-size:20.5px;
  }
  #projects .card-body p{
    font-size: 10.75px;
  }
  #achievements h1{
      font-size: 8vw;
      text-align: center;
      padding-right:5%;
      padding-left:5%;
  }

  #achievements div{
      margin-left:0;
  }
}
@media (max-width: 375px){

  .name1, .name2, .name3 {
    font-size: 6vw;
}

  #titlepage img{
      width: 20px;
      height: 20px;
  }
  #aboutmepage h1{
      text-align: center;
      font-size: 12.5vw;
  }
  #aboutmepage img{
      justify-content: center;
      padding-right: 0;
      width:100%;
  }
  .aboutmeparagraph{
      justify-content: center;
  }
  .aboutmeparagraph p{
      justify-content: center;
      text-align: center;
      font-size: 4vw;
      color: #FFFFFF;
      margin-left:5%;
  }
  #mycontributions h1{
    font-size: 10vw;
    padding: 0 0 0 0;
    text-align: center;
    justify-content: center;
  }
  #mycontributions .card{
      width: 18rem;
      height:18rem;
  }
  #mycontributions .card-body h3{
    font-size: 14px;
  }
  
  #mycontributions .card-body p{
    font-size: 7px;
  }
  #projects div{
      margin: 0 0 0 0;
  }

  #projects h1{
      font-size: 10vw;
      text-align: center;
  }

  #projects .card {
    margin: 10px 10px 10px 10px;
    width:20rem;
    height:20rem;
  }

  #projects .card-body h4{
    font-size: 16px;
  }
  #projects .card-body p{
    font-size: 9px;
  }
  .card-body img{
      width: 10rem !important;
  }

  #csitlogo {
    width:5rem !important;
  }

  #achievements h1{
      font-size: 10vw;
      text-align: center;
      padding-right:5%;
      padding-left:5%;
  }

  #achievements div{
      margin-left:0;
  }
}